<div class="panel panel-primary">

    <div class="panel-heading"><span class="lead">{{!movie.id ? 'Добавить новый фильм' : 'Редактировать фильм ' + movie.title}}</span>
    </div>


    <form ng-submit="submit()" class="form-horizontal">

        <div class="panel-body">

            <input type="hidden" ng-model="movie.id">
            <input type="hidden" ng-model="movie.director.id">

            <div class="form-group">
                <label for="title" class="col-md-2 control-label">Название</label>

                <div class="col-md-6">
                    <input type="text" ng-model="movie.title" class="form-control" id="title"
                           placeholder="Введите название фильма">
                </div>
            </div>

            <div class="form-group">
                <label for="director" class="col-md-2 control-label">Режиссер</label>

                <div class="col-md-6">
                    <input type="text" ng-model="movie.director.name" class="form-control" id="director"
                           placeholder="Введите режисера фильма">
                </div>
            </div>

            <div class="form-group">
                <label for="releaseDate" class="col-md-2 control-label">Год выхода</label>

                <div class="col-md-6">
                    <input type="text" ng-model="movie.year" class="form-control" id="releaseDate"
                           placeholder="Введите год выхода фильма">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Актеры</label>

                <div class="col-md-6" ng-show="!hasActors()">
                    <div style="margin-top: .5em;">Список пуст добавьте актера</div>
                </div>

                <div class="col-md-8 form-inline" ng-show="hasActors()">

                    <div class="input-group" ng-repeat="actor in movie.actors">
                        <span class="input-group-addon">{{actor.name}}</span>
                        <button type="button" class="btn block-button" ng-click="deleteActor(actor.name)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>

                </div>

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <input type="text" ng-model="name" class="form-control" placeholder="Добавьте нового актера">
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-success" ng-click="addActor(name)">Добавить</button>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Жанр</label>

                <div class="col-md-6" ng-show="!hasGenres()">
                    <div style="margin-top: .5em;">Список пуст добавьте жанр</div>
                </div>

                <div class="col-md-8 form-inline" ng-show="hasGenres()">

                    <div class="input-group" ng-repeat="genre in movie.genres">
                        <span class="input-group-addon">{{genre.title}}</span>
                        <button type="button" class="btn block-button" ng-click="deleteGenre(genre.title)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <input type="text" ng-model="genre" class="form-control" placeholder="Добавьте новый жанр">
                </div>
                <div class="col-md-2">
                    <button type="button" ng-click="addGenre(genre)" class="btn btn-success" >Добавить</button>
                </div>
            </div>

        </div>

        <div class="panel-footer">
            <div class="form-actions" style="text-align: right">
                <input type="submit" value="{{!movie.id ? 'Добавить' : 'Обновить'}}"
                       class="btn btn-primary btn-sm">
                <button type="button" ng-click="clear()" class="btn btn-warning btn-sm">Сбросить форму</button>
            </div>
        </div>

    </form>

</div>

<div class="panel panel-primary" style="margin-top: 50px">
    <div class="panel-heading"><span class="lead">Список всех фильмов</span></div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <th>Название</th>
                <th>Режиссер</th>
                <th>Год выхода</th>
                <th width="30%">В ролях</th>
                <th width="20%">Жанр</th>
                <th width="20%"></th>
            </tr>
            <tr ng-repeat="movie in movies">
                <td>{{movie.title}}</td>
                <td>{{movie.director.name}}</td>
                <td>{{movie.year}}</td>
                <td>{{getActors(movie.actors)}}</td>
                <td>{{getGenres(movie.genres)}}</td>

                <td>
                    <button type="button" ng-click="edit(movie.id)" class="btn btn-success btn-xs">Редактировать
                    </button>
                    <button type="button" ng-click="remove(movie.id)" class="btn btn-danger btn-xs">Удалить</button>
                </td>
            </tr>
        </table>
    </div>
</div>



